*{ margin: 0; padding:0px}

    #wrapper{
    border: 5px solid red;
}
#header{
    height:60px;
    background-color: green;
    font-size: 30px;
    color:red;
    text-align: center;
}
#content{
    height:500px;
    background-color: silver;
}
#left{
    height:500px;
    width:40%;
    background-color: lightgreen;
    float:left;
    text-align: center;
    font-size:30px ;
    color:blue;
}
#right{
    height:500px;
    width:60%;
    background-color: aqua;
    float:right;
}
#right_top{
    height:250px;
    width:100%;
    background-color: royalblue;
    text-align: center;
    font-size: 30px;
    color: lightcoral;
}
#right_bottom{
    height:250px;
    width:100%;
    background-color: brown;
}
#right_bottom_top{
    height:150px;
    width:100%;
    background-color:brown ;
}
#right_bottom_bottom{
    height: 100px;
    width: 100%;
    background-color:red;
}
#bottom_left{
    height:100px;
    width:33.3%;
    background-color: yellowgreen;
    float:left;
    font-size: 20px;
    text-align: center;
    color:blueviolet;

}
#bottom{
    height: 100px;
    width:33.3%;
    background-color: yellow;
    float:left;
    font-size: 10px;
    text-align: center;
    color: red;

}

#bottom_right{
    height: 100px;
    width: 33.3%;
    background-color: aqua;
    float:right;
    text-align: center;
    font-size: 20px;
    color: black;
    
}



#footer{
    height:80px;
    background-color: blueviolet;
    text-align: center;
    font-size: 30px;
    color: black;
    
}